.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.lancelot-regular {
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --cream:  rgb(232, 229, 219);
  --red: rgb(143, 36, 36);
  --black: #070707;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  border: solid 2rem var(--red);
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/textured-paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.red-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--red);
  padding: 2rem;
  border: 0.4rem dashed var(--cream);
  width: 35rem;
  height: 20rem;
}

h1 {
  font-family: "Monsieur La Doulaise", cursive;
  color:var(--cream);
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

p, a, ul {
  font-family: "Lancelot", serif;
  color:var(--cream);
  font-size: 2rem;
}

ul {
  margin: 2rem;

  & a:hover {
    background-color: var(--cream);
    padding: 0 0.2rem;
    color: var(--black);
  }
}

header {
  height: 100vh;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex;
  position: absolute;
  left: 0;
  height: 100%;
  width: 8%;
  background-color: var(--red);
  z-index: 10;

  & a {
    font-family: "Lancelot", serif;
    font-size: 1.25rem;
    color: var(--cream);
    padding: 0.5rem;
    margin-right: 1rem;
  }
}

nav.closed {
  transform: translateX(-100%);
}

nav.closed button {
  transform: rotate(180deg);
  position: absolute;
  right: -2.5rem;
  background: var(--red);
}

button {
  background-color: transparent;
  border: none;
  color: var(--cream);
  margin-right: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
}

main {
  margin: 4rem 10rem;
  margin-left: calc(10rem + 8%);
}

main.shifted {
  margin: 4rem 10rem;
}



